<div class="container p-5 ">
    <div class="jumbotron w-75 m-auto d-flex flex-column">
        <h1 class="text-center">Carga el producto:</h1>
        <br>
        <a href="http://localhost:8080/productos" class="align-self-center">Ir a Productos</a>
        <form action="/" method="post" class="d-flex flex-column align-self-center justify-content-center w-75">

            <label for="title">Nombre del Articulo:</label>
            <input type="text" name="title" id="title" placeholder="Nombre del Articulo:">
            <hr>
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" placeholder="Precio">
            <hr>
            <label for="thumbnail">URL:</label>
            <input type="text" name="thumbnail" id="thumbnail" placeholder="Url de la imagen">
            <hr>
            <input type="submit" class="btn btn-secondary mt-3">
        </form>
    </div>
</div>